@import 'reset.css';
@import 'common.css';

/* HEADER */

/* Header =============================== */

header {
  background-color: rgb(233, 233, 233);
}

.main-nav {
  display: flex;
  gap: 20px;
  justify-content: left;
}

.main-nav .nav-link {
  display: block;
  padding: 20px 25px;
}

.cars-main {
  background-color: rgb(255, 255, 255);
  padding: 5% 0;
}
.cars-main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.cars-main .title-block {
  grid-column: 1 / span 2;
}

.cards-container {
  grid-column: 1 / span 3;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

/* CARD ========== */

.card {
  border-radius: 5px;
  flex: 1 1 30%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-service {
  border-radius: 5px;
  flex: 1 1 30%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .card.members p {
  min-height: 3em;
}

.card-service .hr {
  align-self: stretch;
  height: 1px;
  background-color: #333;
  margin: 20px 0;
}
.card-service .btn-delete {
  background-color: tomato;
  align-self: flex-end;
  padding: 9px 12px;
  margin-right: 25px;
  /* border: none; */
